<template>
    <div>
        <b-container v-if="comments.length > 0" class="bv-example-row">
            <b-row>
                <b-col>
                    <div v-for="(item, key) in filterComments" :key="key" class="comment-item"
                        @click="showDescription(key)">
                        <div>
                            <span>Id: </span>
                            <b>{{item.id}}</b>
                        </div>
                        <div>
                            <span>Post id: </span>
                            <b>{{item.postId}}</b>
                        </div>
                        <div>
                            <span>Email: </span>
                            <b>{{item.email}}</b>
                        </div>
                    </div>
                </b-col>
            </b-row>
            <paginator
            v-if="!getSearchQuery"
                :currentPage="currentPage"
                :totalRecords="500"
                :limit="limit"
                @prev='prev'
                @next='next'
            ></paginator>
        </b-container>
        <b-container v-else>
            <b-row>
                <b-col>
                    <h2>Записей нет...</h2>
                </b-col>
            </b-row>
        </b-container>
        <b-modal ref="modal" hide-footer title="Info about comment">
            <div class="d-block text-center">
                <div>
                    <p><b>Name</b></p>
                    <p>
                        {{currentCommnet.name}}
                    </p>
                </div>
                <div>
                    <p><b>Email</b></p>
                    <p>
                        {{currentCommnet.email}}
                    </p>
                    </div>
                <div>
                    <p><b>Description</b></p>
                    <p>
                        {{currentCommnet.body}}
                    </p>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<script>
    import axios from 'axios'
    import {mapState} from 'vuex'
    import {mapGetters} from 'vuex'
    import Paginator from '../components/Paginator'

    export default {
        data() {
            return {
                comments: [],
                currentCommnet: '',
                currentPage: 1,
                limit: 10
            }
        },
        components: {
            Paginator
        },
        computed: {
            ...mapState(['searchQuery']),
            ...mapGetters(['getSearchQuery']),
            filterComments() {
                return this.comments.filter(comment => {
                    return comment.email.toLowerCase().indexOf(this.getSearchQuery.toLowerCase()) !== -1
                })
            }
        },
        methods: {
            prev(data) {
                this.currentPage = data.prev
                this.getData()
            },
            next(data) {
                this.currentPage = data.next
                this.getData()
            },
            getData() {
                return axios.get(`https://jsonplaceholder.typicode.com/comments?_page=${this.currentPage}&_limit=${this.limit}`)
                    .then(({data}) => {
                        this.comments = []
                        this.comments.push(...data)
                    })
            },
            showDescription(key) {
                this.$refs['modal'].show()
                this.currentCommnet = this.comments[key]
            }
        },
        mounted() {
            this.getData()
        }
    }
</script>
<style lang="scss" scoped>
    .comment-item {
        cursor: pointer;
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
    }
</style>