<template>
    <div>
        <footer class="footer">
            Footer...
        </footer>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>
    footer {
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        background-color: #17a2b8
    }
</style>
