<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Nethernite</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-form  @submit.prevent="search">
                        <b-form-input 
                            v-model="searchQuery" 
                            size="sm" 
                            class="mr-sm-2" 
                            placeholder="Search"
                        ></b-form-input>
                        <b-button 
                            @click="search()" 
                            size="sm" 
                            class="my-2 my-sm-0" 
                            type="button"
                        >
                            Search by email
                        </b-button>
                    </b-nav-form>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>
<script>
export default {
    data() {
        return {
            searchQuery: ''
        }
    },
    methods: {
        search() {
            this.$store.commit('setSearchQuery', this.searchQuery)
        }
    }
}
</script>