<template>
    <div class="paginator-wrapper">
        <b-button
            @click="prev()"
            :disabled="currentPage === 1" 
            variant="outline-primary"
        >
            Prev
        </b-button>
        <b-button
            @click="next()"
            :disabled="currentPage === totalRecords / limit" 
            variant="outline-primary"
        >
            Next
        </b-button>
    </div>
</template>
<script>
export default {
    props: {
        currentPage: {
            type: Number,
            required: true
        },
        totalRecords: {
            type: Number,
            required: true
        },
        limit: {
            type: Number,
            required: true
        }
    },
    methods: {
        prev() {
            let prev = 0
            if (this.currentPage <= 1) {
                this.$emit('prev', {prev: prev})
                return
            }

            if (this.currentPage === this.totalRecords / this.limit) {
                this.$emit('prev', {prev: this.currentPage})
                return
            }

            prev = this.currentPage - 1
            this.$emit('prev', {prev: prev})
        },
        next() {
            let next = 0

            if (this.currentPage >= this.totalRecords / this.limit) {
                this.$emit('next', {next: this.currentPage})
                return
            }

            next = this.currentPage + 1
            this.$emit('next', {next: next})
        }
    }
}
</script>
<style lang="scss" scoped>
    .paginator-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>