<template>
  <div id="app">
    <Navbar></Navbar>
    <Content></Content>
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import Footer from './components/Footer'
import Content from './components/Content'

  export default {
    name: 'App',
    components: {
      Navbar,
      Footer,
      Content
    }
  }
</script>

<style lang="scss">
body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  padding-bottom: 100px;
}
</style>